:root {
    --primary-color: rgb(26, 215, 193);
    --primary-color-dark:rgba(79,51,176,1.0);
    --secondary-color: white;
    --secondary-color-dark: black;
    --text-dark: #1B2631;
    --text-light: #34495E;
    --extra-light: #17202A;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

body {
    background-image: linear-gradient( to bottom right,var(--primary-color-dark),var(--primary-color));
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 50px;
    border-radius: 60px;
    box-shadow: 10px 0px 20px #434243;
}

.theme-toggler {
    position: absolute;
    top: 50px;
    left: 50px;
    color: var(--secondary-color);
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: var(--secondary-color-dark);
}

.theme-toggler.active::before {
    background-color:var(--secondary-color);
}

.theme-toggler::before {
    content: '';
    height: 35px;
    width: 35px;
    position: absolute;
    top: 50%;
    transform: translate(-20%, -20%);
    border-radius: 40%;
    background-color: black;
    z-index: -1;
}

#display {
    margin: 0 20px;
    height: 140px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 50px;
    margin-bottom: 30px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 2px;
}

button {
    height: 55px;
    width: 55px;
    border: 0;
    border-radius: 30px;
    margin: 8px;
    font-size: 25px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.4);
}

button#equal {
    height: 150px;
}

/* light theme */

.calculator {
    background-color: var(--secondary-color);
}

.calculator #display {
    color: var(--secondary-color-dark);
}

.calculator button#clear {
    background-color: #de8f94;
    color: #cc111e;
}

.calculator button.number {
    background-color: #98f4f1;
    color: var(--secondary-color-dark);
}

.calculator button.operator {
    background-color: #97bafc;
    color: var(--secondary-color-dark);
  }

  .calculator button.bracket {
    background-color: #59a3ab;
    color: #033c24;
  }
  
  .calculator button.equal {
    background-color: #5f4baf;
    color: var(--secondary-color-dark);
  }

  /* dark theme */

  .calculator.dark {
    background-color: #071115;
  }

  .calculator.dark #display {
    color: var(--secondary-color);
  }

  .calculator.dark button#clear {
    background-color: #421e27;
    color: #bd3740;
  }

  .calculator.dark button.number {
    background-color: #0f0439;
    color: var(--secondary-color);
  }

  .calculator.dark button.operator {
    background-color: #071d46;
    color: #97bafc;
  }

  .calculator.dark button.bracket {
    background-color: #033c24;
    color: #0fa856;
  }
  
  .calculator.dark button.equal {
    background-color: #073e43;
    color: #18727b;
  }
  